<div class="container">
	<h3>movie</h3>
	<table class="table">
	<tr>
		<th>
			<th>ID</th>
			<th>title</th>
			<th>release_date</th>
			<th>duration</th>
			<th>genere</th>
			<th>Synopsis</th>
			
			

		</th>
	</tr>
	<% =.each(movies, function(movie){ %>
		<tr data-id="<%= movie.id %>" data-model="user">
		<td>
			<td><%= movie.id %></td>
			<td><%= movie.title %></td>
			<td><%= movie.release_date %></td>
			<td><%= movie.duration %></td>
			<td><%= movie.genere %></td>
			<td><%= movie.Synopsis %></td>
			

		</td>
	
	</tr>
	<% }) %>

	</table>

</div>